body {
  background-color: #f6ba51;
  font-family: "Langar", cursive;
}

h1 {
  font-family: "Langar", cursive;
  font-size: 50px;
  color: #cd5c5c;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactForm {
  margin: 20px;
}

legend {
  background-color: #cd5c5c;
  border-radius: 5px;
  padding: 8px;
  font-family: "Langar", cursive;
  color: white;
}

fieldset {
  margin-top: 20px;
}

.fieldSet {
  border: 2px #cd5c5c;
  border-style: dashed;
  background-color: #f0e68c;
}
.btnBox {
  margin-top: 15px;
}
.roundBtn {
  margin: 15px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  background-color: #cd5c5c;
}
.roundBtn:hover,
.roundBtn:focus {
  background-color: #f0e68c;
  color: #129471;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}
.normalBtn {
  margin: 15px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  background-color: #cd5c5c;
}
.normalBtn:hover,
.normalBtn:focus {
  background-color: #f0e68c;
  color: #129471;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

.inputContainer {
  margin: 8px;
  display: flex;
  justify-content: baseline;
}

input {
  background-color: #eee8aa;
  border: 1px #cd5c5c;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  border-style: dashed;
}

.inputsBox {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.select {
  margin: 15px;
}

select {
  margin: 15px;
}

.cuteBox {
  display: flex;
}

.checkBox {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.rango {
  width: 250px;
  margin-top: 10px;
}

.fecha {
  width: 250px;
}

#select {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #cd5c5c;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
